@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  50% {
    transform: translateY(-100vh) scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-200vh) scale(1);
    opacity: 0;
  }
}

.animate-gradient {
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
}

.particle {
  pointer-events: none;
}